:root { 
--purple_100:#e7a4ff; 
--blue_gray_50:#eef0fa; 
--indigo_800_0f:#2934950f; 
--blue_300_01:#659aff; 
--black_900_3f:#0000003f; 
--green_A200:#7bdda2; 
--green_A700:#00b828; 
--black_900:#000000; 
--deep_orange_300:#ff9066; 
--deep_purple_A200:#8575ff; 
--pink_300:#ff708b; 
--orange_A200:#f8a243; 
--blue_gray_400:#8383a0; 
--red_A100:#ff7e7e; 
--blue_gray_600:#5a5a89; 
--gray_900:#171625; 
--orange_A200_01:#ffa63e; 
--gray_300:#dbdef1; 
--indigo_200:#a1a3d4; 
--indigo_A700:#0239ff; 
--deep_purple_500_05:#6c49ac05; 
--blue_300:#65c7ff; 
--white_A700:#ffffff; 
--indigo_800:#383874; 
--indigo_500:#5756b3; 
}