:root { 
--gray_50_01:#f4f6ff; 
--deep_purple_A700_3d:#2200f73d; 
--blue_gray_50:#eef0fa; 
--white_A700_90:#ffffff90; 
--deep_purple_400:#6b5dd2; 
--red_500:#ff2d2e; 
--indigo_A100:#828fff; 
--black_900_3f:#0000003f; 
--gray_50:#fafafa; 
--green_A400:#37f260; 
--green_A700:#00b828; 
--black_900_00:#00010f00; 
--black_900:#000000; 
--indigo_A700_01:#3247e5; 
--blue_gray_800:#3d3d60; 
--indigo_50_00:#e3e6ff00; 
--deep_purple_A200:#8575ff; 
--pink_300:#ff708b; 
--deep_purple_A700_75:#2200f775; 
--blue_gray_50_01:#eef0f9; 
--white_A700_4c:#ffffff4c; 
--deep_purple_A700_4f:#2200f74f; 
--blue_gray_400:#8383a0; 
--indigo_800_90:#38387490; 
--blue_gray_300:#9191c1; 
--indigo_50:#ddddff; 
--blue_gray_600:#5a5a89; 
--gray_900:#13132a; 
--gray_300:#dbdef1; 
--orange_300:#ffba69; 
--indigo_300:#7878b5; 
--deep_purple_A700_87:#2200f787; 
--white_A700_00:#ffffff00; 
--indigo_200:#a1a3d4; 
--indigo_A700:#3244e7; 
--deep_purple_500_05:#6c49ac05; 
--white_A700:#ffffff; 
--indigo_800:#383874; 
--indigo_500:#5756b3; 
}