:root { 
--purple_100:#e7a4ff; 
--blue_gray_50:#eef0fa; 
--indigo_800_0f:#2934950f; 
--yellow_A400_a2:#f9e000a2; 
--red_500_09:#ff2b2b09; 
--red_A100_01:#ff737d; 
--red_300:#fc717d; 
--blue_300_01:#659aff; 
--black_900_3f:#0000003f; 
--green_A200:#7bdda2; 
--deep_purple_300:#a46ce9; 
--green_A700:#00b828; 
--yellow_500:#fae634; 
--black_900:#000000; 
--deep_purple_A200_cc_01:#695dfbcc; 
--deep_orange_300:#ff9066; 
--blue_gray_800:#44444f; 
--deep_purple_A200:#8575ff; 
--pink_300:#ff708b; 
--deep_purple_A200_01:#695dfb; 
--deep_purple_A200_02:#9352e5; 
--deep_purple_A700_0a:#840de20a; 
--orange_A200:#f8a243; 
--blue_gray_400:#8383a0; 
--indigo_800_90:#38387490; 
--red_A100:#ff7e7e; 
--blue_gray_600:#5a5a89; 
--gray_900:#171625; 
--orange_A200_01:#ffa63e; 
--gray_300:#dbdef1; 
--red_A200_a2:#ff505da2; 
--gray_100:#f1f1f5; 
--indigo_200:#a1a3d4; 
--pink_500_09:#e20d9409; 
--indigo_A700:#0239ff; 
--deep_purple_500_05:#6c49ac05; 
--blue_300:#65c7ff; 
--white_A700:#ffffff; 
--indigo_800:#383874; 
--indigo_500:#5756b3; 
--deep_purple_A200_cc:#9352e5cc; 
}